---
import { Github } from "@lucide/astro";
---

<p class="flex items-center gap-1 text-stone-600 dark:text-stone-400">
  Find me on
  <a
    href="https://github.com/ianhi"
    target="_blank"
    rel="noopener"
    aria-label="GitHub"
    class="inline-flex items-center gap-1"
  >
    <Github class="w-4 h-4" />GitHub</a>.
</p>
